body{
    display: flex;
    justify-content: center;
    /*vh = viewport height(percentage of browser size*/
    height: 100vh;
    background-color: rgb(4, 180, 255);
}
/* specfying an ID*/
#main-container{
    border: 5px solid rgb(243, 252, 2);
    width: 1000px;
    height: 2300px;
    background-color: silver
}
#header{
    height: 130px;
    border: 30px ridge black;
    text-align: center;
    font-style: bold;
}
#nav-bar{
    height: 50px;
    text-align: center;
    border-top: 10px solid whitesmoke;
    border-bottom: 10px solid whitesmoke;
    /*creates mpty space*/
    padding-top:25px ;
}
/*specifies a class*/
.nav-btn{
    border:5px solid rgb(0, 255, 47);
    padding:10x;
}
#content{
    height: 520px;
    width: 650px;
    text-align: center;
    margin: auto;
    font-style: bold;
    color: brown;
    
}
#ol{
    font-size: 20px;
    border:2px double black
}